# Comphrensions

## List Comphrensions

In [ ]:
r = range(1, 11)

In [2]:
result = []

In [3]:
for item in r:
    result.append(item * item)

In [8]:
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Example 1

In [ ]:
result = [item * item for item in r]

In [6]:
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
print([item * item for item in r])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Example 2

In [9]:
# Write a program to print all numbers divisible by 2 using LC

In [10]:
result = [item for item in range(1, 11) if item % 2 == 0]

In [11]:
result

[2, 4, 6, 8, 10]

### Example 3

In [12]:
# Write a program to get list of all characters from subject which are consonants
subject = "MATHEMATICS"

In [13]:
# result = ["M", "T", "H", "M", "T", "C", "S"]

In [14]:
result = []
for item in subject:
    if item not in "AEIOU":
        result.append(item)
result

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [15]:
print([item for item in subject if item not in "AEIOU"])

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [16]:
print([item for item in subject if item not in "aeiou"])

['M', 'A', 'T', 'H', 'E', 'M', 'A', 'T', 'I', 'C', 'S']

### Example 4

In [17]:
websites = ["amazon", "flipkart", "snapdeal", "paytm"]
extensions = ["com", "org", "in"]

In [18]:
#[www.amazon.com, www.amazon.org, www.amazon.in, www.flipkart.com,...]

In [19]:
result = ["www.{}.{}".format(web, ext) for web in websites for ext in extensions]

In [20]:
result

['www.amazon.com',
 'www.amazon.org',
 'www.amazon.in',
 'www.flipkart.com',
 'www.flipkart.org',
 'www.flipkart.in',
 'www.snapdeal.com',
 'www.snapdeal.org',
 'www.snapdeal.in',
 'www.paytm.com',
 'www.paytm.org',
 'www.paytm.in']

### Example 5

In [21]:
s = "Welcome to the world of Python Programming"
# [("Welcome", 7), ("to", 2), ("the", 3), ...]

In [22]:
# Approach 1 -> Normal , Without LC
# Approach 2 -> Using LC

In [23]:
# split()
s.split()

['Welcome', 'to', 'the', 'world', 'of', 'Python', 'Programming']

In [24]:
result = []
for item in s.split():
    result.append((item, len(item)))
print(result)

[('Welcome', 7), ('to', 2), ('the', 3), ('world', 5), ('of', 2), ('Python', 6), ('Programming', 11)]

In [25]:
print([(item, len(item)) for item in s.split()])

[('Welcome', 7), ('to', 2), ('the', 3), ('world', 5), ('of', 2), ('Python', 6), ('Programming', 11)]

### Example 6

In [26]:
#  Write a program which will find all such numbers which are divisible by 7
# but are not a multiple of 5, between 200 and 320 (both included).
# The numbers obtained should be printed in a comma-separated
# sequence on a single line.
#
# Hints:
# Consider use range(#begin, #end) method

In [27]:
# Approach 1 : Without Using LC
# Approach 2 : Using LC

In [31]:
result = []
for item in range(200, 321):
    if item % 7 == 0 and item % 5 != 0:
        result.append(str(item))
print(",".join(result))

203,217,224,231,238,252,259,266,273,287,294,301,308

In [34]:
print(",".join([str(item) for item in range(200, 321) if item % 7 ==0 and item % 5 != 0]))

203,217,224,231,238,252,259,266,273,287,294,301,308

## Dictionary Comphrensions

### Example 1

In [36]:
# Take any number as input from the user
# and create a dict like below
# n = 5
# {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [37]:
number = int(input("Enter any number: "))

Enter any number: 10

In [38]:
number

10

In [39]:
result = { item: item * item for item in range(1, number + 1)}

In [40]:
print(result)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [44]:
result = { item: item ** 2 for item in range(1, number + 1)}

In [45]:
result

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Example 2

In [46]:
s = "the quick brown fox jumps over the lazy dog"

In [47]:
# {"t": 2, "h": 1, ...}

In [49]:
s.count("t")

2

In [50]:
result = {item: s.count(item) for item in s}
result

{'t': 2,
 'h': 2,
 'e': 3,
 ' ': 8,
 'q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'b': 1,
 'r': 2,
 'o': 4,
 'w': 1,
 'n': 1,
 'f': 1,
 'x': 1,
 'j': 1,
 'm': 1,
 'p': 1,
 's': 1,
 'v': 1,
 'l': 1,
 'a': 1,
 'z': 1,
 'y': 1,
 'd': 1,
 'g': 1}

In [51]:
len(result)

27